# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
*.apk

# iOS
ios/Pods/
ios/build/
ios/Index/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# PWA Build
dist/

# Typescript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

